h3 {
	color: #216096;
}

#botao_principal{
	background-color: #216096;
}

#logo_principal{
	width: 15%;
}

.navbar-brand{
	color: #000000;
}

table, th, td {
  border: 1px solid #000000;
  border-collapse: collapse;
  text-align: center;
}

footer{
	background-color: #216096;
	color: #FFFFFF;
}

#footer{	
	text-align: center;
	display: flex;
	justify-content: center;
}

#fonteBlack{
	color: #000000;
}

.dark-mode {
  background-color: black;
  color: #FFFFFF;
}

.dark-mode + h5.card-title {
  color: #FFFFFF;
}

.dark-mode a#sair{
	color: yellow;
}

/*.dark-mode h1, h2, li, label{
	color: #FFFFFF;
}*/