h3 {
	color: #216096;
}

#botao_principal{
	background-color: #216096;
}

#logo_principal{
	width: 15%;
}

.navbar-brand{
	color: #000000;
}

table {
  border: 1px solid #000000;
  border-collapse: collapse;
  letter-spacing: 1px;
  text-align: center;
}

td {
    text-align: center;
}