<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SisCondo | Efetuar Login</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />    
    <link rel="icon" type="image/png" href="../imagens/A3initiative.png" />
  </head>
  <body>

    <div class="container-fluid"> 
    
      <div class="row">
      <nav>
        <img
          src="../imagens/A3initiative.png"
          alt="logomarca A3 Initiative Corporation" 
          class="img-fluid"
        />
      </nav>   
    	
        <form class="col-md-4 position-absolute top-50 start-50 translate-middle"
          id="formAcesso" method="POST"
        >
          <fieldset>
            <legend>Acesso SisCondo</legend>
            <div class="col-12">
              <div class="mb-3">
                <label for="loginAcesso" class="form-label">Login:</label>
                <input
                  type="email" required
                  class="form-control"
                  id="loginAcesso"
                  placeholder="Informe seu e-mail"
                />
                <div id="helpLoginAcesso" class="form-text">
                  Informe um e-mail válido.
                </div>
              </div>
              <div class="mb-3">
                <label for="senhaAcesso" class="form-label">Senha:</label>
                <input
                  type="password" required
                  class="form-control"
                  id="senhaAcesso"
                  placeholder="Informe sua senha"
                />
                <div id="helpLoginAcesso" class="form-text">
                  Informe sua senha com até 6 caracteres.
                </div>
              </div>
              <div class="col-12">
                <a href="">Recuperar senha</a>
              </div>
              <div class="col-12">
            <!-- <input type="submit" class="btn btn-primary" value="Acessar"></input> -->
            <br /><br />
                <a href="home" id="botaoAcesso" class="btn btn-primary">Acessar Sistema</a>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

    <footer class="navbar fixed-bottom navbar-light bg-light text-center">
      <!-- Copyright -->
      <div class="container-fluid p-3" id="footerAcesso">
        <span class="text-center">&copy; A3 Initiative Corporation, 2022</span>
      </div>
      <!-- Copyright -->
    </footer>
	
	<script src="../js/scripts.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    
</body>
</html>
